<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
		    <h1>FertImpact</h1>
            {% include 'navbar.html' %}
        </header>
        <h1>My profile</h1>
        {% if not session.logged_in %}
        <p>YOU ARE NOT LOGGED IN</p>
        {% else %}
        <p>THIS IS THE PROFILE PAGE</p>
        {% endif %}
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
